
*,
::before,
::after {
  box-sizing: border-box;
}

html {
    overflow: hidden;
}
body, pre {
    margin: 0;
}
body {
    font-family:
        system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    
    color:#4a4a4a;
    font-size: 14px;
}
h4 {
    font-size:14px;
    text-align: center;
}
fieldset {
    margin-left:0px;
    border-width:1px;
}
hr {
    border-style:solid;
    border-bottom:0;
}
pre, fieldset {
    width: 95%;
}
pre, .code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* font-size: 12px; */
}
div {
    /* font-size: 12px; */
}
a {
    text-decoration:none;
    /* font-size: 12px; */
}
:root {
    --xsw: auto;
}

.warning {
    background-color: yellow;
    color: #000;
    width: 100%;
    display: table;
    margin: 0;
    font-family: monospace;
}

#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:    27px calc(100% - 54px) 27px;
    grid-template-areas: 'head head'
                         'menu body'
                         'tail tail';
    overflow: hidden;
    font-size: 12px;
}
#v-head {
    grid-area: head;
    display: inline-flex;
    align-items: center;
    padding: 0 .75rem;
    background-color: #eee;
    border-bottom:1px solid #ccc;
}
#v-head a, #v-tail a {
    padding:0 10px;
    line-height: 26px;
    display: inline-block;
    cursor:default;
    font-size: 12px;
}
#v-tail {
    grid-area: tail;
    display: inline-flex;
    align-items: center;
    padding: 0 .75rem;
}
#v-menu {
    grid-area: menu;
    overflow: auto;
    background-color: #eee;
    border-bottom:1px solid #ccc;
}
a {
    text-decoration:none;
}
#v-menu a, #r-menu a {
    display:block;
    border-bottom: 1px solid #ccc;
    padding:4px 0px 4px 10px;
    color: #555;
    cursor:default;
    font-size: 12px;
}
[noborder] {
    border:0px !important;
}
a[active] {
    border-bottom: 3px solid #4338ca !important;
    background-color: #818cf8;
    color: #fff !important;
}
.inner-menu {
    line-height:12px;
    padding-left: 20px !important;
    padding-right: 10px !important;
    background-color: #e0e7ff;
}
a[active].inner-menu {
    border-bottom: 1px solid #3b82f6 !important;
    background-color: #bfdbfe;
    color: #1e40af !important;
}
#v-menu a:hover, #v-head a:hover, #v-tail a:hover, #r-menu a:hover {
    background-color: #ddd;
    color: #000 !important;
}

.other-task {
    border-bottom: 1px solid #4338ca !important;
    border-left: 3px solid #4338ca !important;
    padding:10px;
    background-color: #ccc;
    color: #000;
    font-size:16px;
    font-weight:bold;
    display: inline-flex;
    width: 100%;
}
.other-info {
    padding:12px;
    background-color: #ffd;
}
#v-body {
    grid-area: body;
    overflow: auto;
    border-bottom:1px solid #ccc;
}

.trace-x {
    background-color:#000;
    color: #0f0;
    width:100vw;
}
.trace-t {
    background-color:#005;
    color: #7ff;
    width:100vw;
}
.trace-x pre, .trace-t pre {
    padding: 10px;
    background-color: #fff;
    color: #000;
}
pre#trace {
    background-color: transparent;
    color: currentColor;
}
.trace-x h1, .trace-t h1 {
    margin: 0;
    padding: 0 10px;
    background-color: #efe;
    color: #000;
}

dt {
    float: left;
    text-align: right;
    width: 25%;
    padding-right: 5px;
}
dd {
    text-align: left;
    margin-left: 25%;
}
th {
    vertical-align:top;
    text-align:left;
    font-weight:normal;
    background-color: #ccc;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    border-left:1px solid #fff;
}
td {
    vertical-align:top;
    border-bottom: 1px solid #a0a0a0;
}
#gate td {
    border: 0;
}

#top-head {
    text-align:center;
}

.bg-wx {
    width: 100%;
    padding-left: 10px;
    height:41px;
    display: inline-flex;
    align-items: center;
}

.bg-r {
    background-color: #fdd;
}
.bg-g {
    background-color: #dfd;
}
.bg-b {
    background-color: #ddf;
}
.bg-y {
    background-color: #ffd;
}
.bg-x {
    background-color: #e0e7ff;
}
.bg-a {
    background-color: #818cf8;
    color: #fff;
}
.norm {}
.p-20 {
    padding: 20px;
}
.fs16 {
    font-weight:bold;
    font-size:16px;
}
#gr-modules {
    margin-top:8px;
    padding-bottom:3px;
}
#gr-modules span {
    display: inline-block;
    background:#e0e7ff;
    margin:0 5px 5px 0;
    padding:2px 5px;
    border-radius: 5px;
}
.ware {
    width:170px;
    height:300px;
    margin:0 10px 10px 0;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
}
.were-desc {
    width:150px;
    height:150px;
    overflow:auto;
}

.vend-x {
    display:inline-block;
    position: relative;
    width:170px;
    height:170px;
    overflow:hidden;
    margin:10px 0 0 10px;
    padding:10px;
    background-color:#e0e7ff;
    border-radius: 10px;
}
.vend-x:hover {
    background-color:#c7d2fe;
}
#vend-pk div.active {
    background-color:#818cf8 !important;
    color:#fff !important;
}

#doc_div, #doc_div pre {
    font-size:16px;
}

.upper-case {
    text-transform:uppercase;
}
