.fr { float:right }
.fl { float:left }
.clear { clear:both }
r { color:red }
g { color:#2b3 }
z { color:blue }
m { color:#93c }
y { color:#b88 }
j { color:#c41 }

.red_label {
    background-color: red !important;
    color: white !important;
    display: inline;
}
#box-esc {
    position: fixed;
    z-index: 1001;
    right: 100px;
    bottom: calc(100vh - 50px);
}
#box-esc a {
    padding: 2px 3px;
    background-color: #fff;
}
.red-link {
    color: red;
}
.red-link:hover {
    background: red !important;
    color: white;
    text-decoration: none;
}

img, table {
    border: 0;
}
.w100 {
    width: 100%;
}
#trace {
    width: 100%;
    text-align:left;
}
img.right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}
img.left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}
ul.pagination li {
    margin: 0 2px;
    padding: 0 3px;
    display: inline;
}
ul.pagination li.active {
    background: blue;
}
ul.pagination li.active a {
    color: white !important;
    text-decoration: none;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1em 10px;
    padding: 1em 10px .1em;
    quotes: "\201C""\201D""\2018""\2019";
}
.mono, .code {
    font-family: monospace;
}
.error {
    background-color: red;
    color: #fff;
    width: 100%;
    display: table;
    margin: 0;
    font-family: monospace;
}
.jump {
    background-color: #000 !important;
    color: #fff;
    width: 100%;
    display: table;
    margin: 0;
}
#err-top h1 {
    color: red;
    background-color: pink;
    margin-bottom: 0;
    padding-left: 12px;
}

div#box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background-color: rgba(0,0,0, 0.5);
}
div#box div#box-in {
    position: fixed;
    left: 50px;
    top: 50px;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    background-color: rgba(255,255,255, 1);
    overflow: hidden;
}
#box-in pre span:hover, #box-in td span:hover, #err-top pre span:hover {
    color: red;
}
#box-in pre span, #box-in td span, #err-top pre span {
    cursor:default;
}

div#selector {
    position: fixed;
    background-color: rgba(255,255,255, 1);
}
.pdaxt a {
    margin:0 1px !important;
    padding:0 2px !important;
}

li.elm dt { width:38%; }
li.elm dd { margin-left: calc(38% + 6px); }

ul.row { list-style:none; margin:0; padding:0; }
ul.row li { display:table-cell; }

li.elm { vertical-align:top; width:1px; }
li.elm-chk { vertical-align:top; }
li.desc { padding:2px 5px 0 15px; }
li.desc-chk { padding:2px 15px 0 0; }
#f1 h2 { background:#93b8d8; color:#fff; text-align:center; margin-bottom:0; line-height:45px; }
#f1 h3 { text-align:center; margin-bottom:10px; }
.xf-div { width:100%; display:table; }
.debug-table td table { border-collapse:collapse; }
.debug-table td table th, .debug-table td table td { border:1px solid #333; }
.hover {
    background: #ddd;
}
#x-cell {
    right:110px;
    background:#777;
    padding:3px 10px;
    list-style:none;
}
#x-cell a:hover {
    background:#000;
    color:#0f0;
}
#x-cell li {
    display:table-cell;
    padding:0 5px;
}
.tdlnum {
    background:#e7ebf2; 
    /*font:normal 12px courier; line-height:110%; vertical-align:top; text-align:right; width:21px;*/
}
